.gridContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: 
                        "header header header"
                        "nav main sidebar"
                        "footer footer footer";
}

header{
    grid-area: header;
    background-color: #B8C4BB;
    display: block;
    text-align: center;
}

nav{
    grid-area: nav;
    background-color: #B8C4BB;
    font-size:larger;
    text-align: center;
}

main{
    grid-area: main;
    background-color: #B8C4BB;
}
aside{
    grid-area: sidebar;
    background-color: #B8C4BB;
    text-align: center;
    font-size: small;
}
footer{
    grid-area: footer;
    background-color: #C9D6EA;
}


.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style: none;
}